
@{
    ViewData["Name"] = "All locations";

}



    <head>

        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </head>
<div onscroll="scrollFunction()">

<h2 class="title">Displays all Locations below</h2>


<table class="table">
    <tr>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="name">Name</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="description">Description</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="country">Country</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="continent">Continent</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="area">Area</a></td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><a asp-controller="Home" asp-action="OneLocation" asp-route-GeographicalCoordinates="@item.GeographicalCoordinates">@item.Name</a></td>
    <td>@item.Description</td>
    <td>@item.Country</td>
    <td>@item.Continent</td>
    <td>@item.Area</td>
</tr>

    }
</table>

<button onclick="toTop()" class="topButton" title="To top">Top</button>

</div>
