
    <head>

        <link rel="stylesheet" href="~/css/home.css" />

    </head>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Area</td>
        <td>Country</td>
        <td>Continent</td>
        <td>Geographical Co-ordinates</td>
    </tr>
   
    <tr>
        <td><a>@Model.Name</a></td>
        <td><a>@Model.Description</a></td>
        <td>@Model.Area</td>
        <td>@Model.Country</td>
        <td>@Model.Continent</td>
        <td>@Model.GeographicalCoordinates</td>

    </tr>

    

</table>

<a asp-controller="Home" asp-action="AddToFavourites" asp-route-GeographicalCoordinates="@Model.GeographicalCoordinates">Add to Favourites</a>