
@{
    ViewData["Name"] = "All locations";

}



    <head>

        <link rel="stylesheet" href="~/css/home.css" />

    </head>

<h2 class="title">Displays all Locations below</h2>


<table class="table">
    <tr>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="name">Name</a></td>
        <td>Description</td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="country">Country</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="continent">Continent</a></td>
        <td><a asp-controller="Home" asp-action="SortBy" asp-route-SortByParameter="area">Area</a></td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><a asp-controller="Home" asp-action="OneLocation" asp-route-GeographicalCoordinates="@item.GeographicalCoordinates">@item.Name</a></td>
    <td><a>@item.Description</a></td>
    <td><a>@item.Country</a></td>
    <td><a>@item.Continent</a></td>
    <td><a>@item.Area</a></td>
</tr>

    }
</table>

